<ion-header size="small">
  <ion-toolbar size="small" color="warning">
    <ion-title size="small" style="text-align: right ">نظر خود را وارد کنید</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-template #t let-fill="fill"><span class="star" [class.full]="fill === 100"><span class="half" [style.width.%]="fill">★</span>★</span>
  </ng-template>
  <ngb-rating [resettable]="true" [rate]="0" [starTemplate]="t" [readonly]="false" [max]="5" (leave)="(hovered=0)"></ngb-rating>
</ion-content>
