<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
    <ion-card-header>
      <ion-card-subtitle color="gray" align="center">۱۴۰۰-۰۲-۲۲ ۱۱:۲۵</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-text> تومان </ion-text>
        <ion-text id="cost-amount"> ۲۵۰۰۰</ion-text>
        <ion-text id="store-name">فروشگاه نسترن</ion-text>


      </ion-item>
      <div id="rate-box">

        <ng-template #t let-fill="fill"><span class="star" [class.full]="fill === 100"><span class="half" [style.width.%]="fill">★</span>★</span>
        </ng-template>

        <ion-button id="rate-submit-button" size="small" (click)="rateSubmit()">ثبت نظر</ion-button>

        <div id="star-rate-box">

          <b>{{rate}}</b>

          <ngb-rating [rate]="rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

        </div>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
