.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

//ion-card{position: relative}
#rate-box {

  position: relative;
  text-align: right;
  padding-bottom: 27px;

}

#star-rate-box {
  position: absolute;
  right: 5px;
top:var(--vertcal2);
}
:root{  --vertcal2:0;}
#rate-submit-button {
  position: absolute;
  left: 10px;



}

b {
  padding-right: 5px;
  padding-bottom: 3px
}

#store-name {
  position: absolute;
  right: 3px;
}

